<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./static/style.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <link rel="stylesheet" href="./static/style_new.css" />
    <script src="./static/script_new.js"></script>
    <title>Product Display</title>
  </head>
  <body>
    <div class="product-card">
      <div class="image-container">
        <div class="cover-image product-image">
          <img
            src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/v1661261366/Croma%20Assets/Imaging/Camera%20and%20Camcorders/Images/258422_2_ftalwo.png/mxw_2048,f_auto"
            alt=""
          />
        </div>
        <div class="more-image-container">
          <div class="more-image product-image">
            <img
              src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/v1661261363/Croma%20Assets/Imaging/Camera%20and%20Camcorders/Images/258422_i3p0de.png/mxw_2048,f_auto"
              alt=""
            />
          </div>
          <div class="more-image product-image">
            <img
              src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/v1661261371/Croma%20Assets/Imaging/Camera%20and%20Camcorders/Images/258422_3_pax8tp.png/mxw_2048,f_auto"
              alt=""
            />
          </div>
          <div class="more-image product-image">
            <img
              src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/v1661261371/Croma%20Assets/Imaging/Camera%20and%20Camcorders/Images/258422_5_wsfme3.png/mxw_2048,f_auto"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="product-info">
        <a href="#" class="free-shipping">Free shipping</a>
        <h3 class="product-name">
          Canon M50 Mark II 15-45mm f3.5-6.3 is STM Digital Zoom Camera (Black)
        </h3>
        <p class="regular-price">₹60,995.00</p>
        <p class="discount-price">₹54,990.00</p>
        <p class="offer-info">
          The offer is valid until October 3 or as long as stock losts!
        </p>
        <a href="#" class="add-to-cart">
          <ion-icon name="add-outline"></ion-icon> Add to cart
        </a>
        <div class="stock">
          <div class="stock-status"></div>
          <p class="stock-info">50+ pcs. in stock.</p>
        </div>
        <div class="buttons">
          <a href="/chat-bot" class="button">
            <ion-icon name="chatbubbles-outline"></ion-icon> Ask Us
          </a>
          <a href="#" class="button">
            <ion-icon name="heart-outline"></ion-icon> Add to wishlist
          </a>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="footer-col">
            <h4>company</h4>
            <ul>
              <li><a href="#">about us</a></li>
              <li><a href="#">our services</a></li>
              <li><a href="#">privacy policy</a></li>
              <li><a href="#">affiliate program</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>get help</h4>
            <ul>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">shipping</a></li>
              <li><a href="#">returns</a></li>
              <li><a href="#">order status</a></li>
              <li><a href="#">payment options</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>online shop</h4>
            <ul>
              <li><a href="#">watch</a></li>
              <li><a href="#">bag</a></li>
              <li><a href="#">shoes</a></li>
              <li><a href="#">dress</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>follow us</h4>
            <div class="social-links">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
